<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Activate your account</title>
    <link href="https://fonts.googleapis.com/css2?family=Roboto:wght@400;700&display=swap" rel="stylesheet">
    <link href="css/email_style.css" rel="stylesheet" type="text/css">
</head>
<body>
<div class="email-container">
    <div class="navbar">
        Hello, <span th:text="${username}">Name Surname</span>
    </div>
    <div class="content">
        <p>We’re excited to have you on board! To complete your account activation, please use the code below:</p>
        <p class="activation-code" th:text="${activation_code}">XXXXXX</p>
        <p>This code will expire in 15 minutes. Please don’t hesitate to contact us if you need any assistance.</p>
        <div class="footer">
            <p>Thanks for joining,<br/>The Bitask Team</p>
        </div>
    </div>
</div>
</body>
</html>
