<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Your Password Reset Code</title>
  <link href="https://fonts.googleapis.com/css2?family=Roboto:wght@400;700&display=swap" rel="stylesheet">
  <link href="css/email_style.css" rel="stylesheet" type="text/css">
</head>
<body>
<div class="email-container">
  <div class="navbar">
    Hello, <span th:text="${username}"></span>
  </div>
  <div class="content">
    <p>To reset your password, please use the code below:</p>
    <p class="reset-code" th:text="${activation_code}">XXXXXX</p>
    <p>This code will expire in 15 minutes. If you didn't request a password reset, please ignore this email.</p>
    <div class="footer">
      <p>Thanks,<br/>The Bitask Team</p>
    </div>
  </div>
</div>
</body>
</html>
